body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 200vh;
}
.canvas{
    width: 50vw;
    height: 70vh;
    outline: 1px solid black;
}
.wrapper{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
input[type='range']{
    width: 50%;
    height: 20px;
}
input[type="file"]{
    border: 1px solid black;
}

